* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #f6fff8;
}

footer {
  bottom: 0;
  position: fixed;
  width: 90%;
  text-align: center;
}

.toggle-button {
  background-color: transparent; 
  border: none;
  cursor: pointer;
  font-size: 24px; 
  margin: 10px; 
  transition: color 0.3s; 
}

.toggle-button:hover {
  color: #007BFF; 
}
