* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: #f6fff8;
}

footer {
  text-align: center;
}

.toggle-button {
  background-color: transparent; /* Ou qualquer cor que desejar */
  border: none;
  cursor: pointer;
  font-size: 24px; /* Ajuste o tamanho conforme necessário */
  margin: 10px; /* Adicione margem se desejar */
  transition: color 0.3s; /* Efeito de transição suave para a cor */
}

.toggle-button:hover {
  color: #007BFF; /* Cor ao passar o mouse */
}
